<html>
    <head>
    <link rel="stylesheet" href="/public/fonts/material-icon/css/material-design-iconic-font.min.css"/>
    <link rel= "stylesheet" type= "text/css" href= "/public/css/style.css"/>

    </head>
    <style>
        h1 {text-align: center;;}
        h2 {text-align: center;}
        p {text-align: center;}
        form {
            width: 100%;
            display: flex;
            justify-content: space-between;
            }

            input[type="text"] {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #333;
            }
    </style>
    <body>
    
    <script>
    </script>

    </body>
</html>