<html>
    <head>
        <title>Login</title>
        <meta name= "viewport" content= "width= device-width, initial-scale=1">
        
        <link rel= "stylesheet" type= "text/css" href= "../css/style.css"/> 
        <link rel= "stylesheet" type= "text/css" href= "../../css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../fonts/material-icon/css/material-design-iconic-font.min.css"/>
        
        <script type= "text/javascript" lang= "javascript" src= "../js/bootstrap.min.js"></script>
        <script type= "text/javascript" lang= "javascript" src= "script.js"></script>
    </head>
    
    <body class= "main">
        <section class="signup">
                <div class="container">
                    <div class="signup-content">
                            <div class="signup-form">
                                <h1 class="form-title">Bentornato!</h1>
                                <form method="POST" class="register-form" id="register-form">
                                    <div class="form-group">
                                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                        <input type="text" name="name" id="name" placeholder="Nome utente o e-mail" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                        <input type="password" name="pass" id="pass" placeholder="Password" required/>
                                    </div>
                                    <a href= "#">Hai dimenticato la tua password?</a>
                                    <br>
                                    <br>
                                    <div class="form-group">
                                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                        <label for="agree-term" class="label-agree-term"><span><span></span></span>Ricordami</label>
                                    </div>
                                    <input type="submit" class="btn btn-outline-primary" value= "Accedi">
                                </form>
                        </div>
                    <div class="signup-image">
                        <figure><img src="../logo.png" alt="sign up image"></figure>
                    </div>
                </div>
        </section>
    </body>
</html>
